:root {
  /* PRIMARY */
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-green-hover: hsl(154, 94%, 69%);
  /* ACCENT  */
  --color-blue: hsl(248, 32%, 49%);
  /* Neutral */

  --color-DarkBlue: hsl(249, 10%, 26%);
  --color-GrayishBlue: hsl(246, 25%, 77%);
}

html,
body,
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-red);
  background-image: url(/images/bg-intro-mobile.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    flex-direction: row;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.header-heading {
  font-size: 1.9rem;
}

.header-text {
  font-size: 1rem;
  line-height: 1.6rem;
  width: 80%;
  margin-bottom: 3rem;
}

.container-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container-form {
    width: 90%;
  }
}

.button {
  text-decoration: none;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: var(--color-blue);
  padding: 1.5rem 4.5rem;
  border-radius: 0.6rem;
  box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.377);
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .button {
    width: 80%;
    padding: 1.2rem 4.5rem;
  }
}

.button span {
  font-weight: bold;
}

form {
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  form {
    width: 80%;
  }

  form input {
    width: 100%;
  }
}

form input {
  display: block;

  margin: 0 auto;
  margin-top: 20px;
  padding: 1rem 4.5rem;
  outline: none;
  position: relative;
}

form input:nth-child(1) {
  margin-top: 30px;
}

input::placeholder {
  position: absolute;
  left: 20px;
  top: 13px;
  font-weight: 600;
}

form input[type="submit"] {
  border: 0;
  background-color: var(--color-green);
  padding: 1.2rem 5.4rem;
  border-radius: 0.3rem;
  box-shadow: inset 0px -3px 8px rgba(0, 0, 0, 0.349);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
form input[type="submit"]:hover {
  background-color: var(--color-green-hover);
  cursor: pointer;
}

form p {
  color: var(--color-GrayishBlue);
  margin: 0 auto;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  width: 70%;
  margin-top: 1rem;
}

form p span {
  color: var(--color-red);
  font-weight: bold;
  font-size: 0.8rem;
}

.error,
.error-email {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right 25px;
  border-color: var(--color-red);
  position: relative;
}

.error-email::placeholder {
  color: var(--color-red);
}
.alerta {
  color: var(--color-red);
  font-size: 0.8rem;
  float: right;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .alerta {
    margin-right: -60px;
  }
}

.active {
  display: block;
}
.inactive {
  display: none;
}
